<footer class="site-footer">
  <section class="site-footer-links">
    <div class="row">
      <div class="column medium-column-65">

          <p><a href="https://www.facebook.com/groups/themarfa">Facebook</a> | <a href="https://vk.com/themarfa">ВКонтакте</a> | <a href="https://twitter.com/themarfa">Twitter</a>| <a href="http://tlg.name/themarfa">Telegram</a> | <a href="https://tt.me/themarfa">ТамТам</a> | <a href="mailto:biz@themarfa.name">biz@themarfa.name</a><p>


        <div class="copyright">
          <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" rel="license">CC BY-NC-SA 4.0</a> | <a href="//themarfa.name">All-In-One Person</a></p>
        </div>
      </div>
      <div class="column medium-offset-5">
        <a href="#" class="scroll-top">Вернуться в начало?</a>
      </div>
    </div>
  </section>
</footer>
