<footer class="footer wow fadeIn">
    <div class="footer-inner">
        <div class="footer-left">
            <div class="footer-links">
                <a href="tg://resolve?domain=themarfa_en" target="_blank">{{> "icons/telegram"}}</a>
                <a href="https://twitter.com/themarfaen" target="_blank">{{> "icons/twitter"}}</a>
                <a href="https://facebook.com/groups/themarfaen" target="_blank">{{> "icons/facebook"}}</a>
            </div>

            {{!--    <span class="footer-contact"><a href="/sotrudnichiestvo/">Commercial inquiries</a></span>--}}

        </div>
        <a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" class="footer-license">CC BY-NC-SA 4.0</a>
    </div>
</footer>
