<nav class="nav">
    <div class="nav-search">
        <span class="nav-search-close"><svg viewBox="0 0 24 24" width="24" height="24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" class="css-i6dzq1"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg></span>
        <div class="gcse-search"></div>
    </div>

    <div class="nav-inner">
        <a href="/"><img class="site-logo" src="{{asset "/img/themarfa.png"}}"></a>
        <div class="tags">
            <span class="nav-search-icon">
                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M19 19L14.65 14.65M17 9C17 13.4183 13.4183 17 8.99999 17C4.58172 17 1 13.4183 1 9C1 4.58172 4.58172 1 8.99999 1C13.4183 1 17 4.58172 17 9Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
</svg>

            </span>
            {{navigation}}

            <script async src="https://cse.google.com/cse.js?cx=017240439618721134016:glmzup469n2"></script>
            <script>window.onload = function()
            {
                let searchBox =  document.getElementById("gsc-i-id1");
                searchBox.placeholder="Search";
                searchBox.title="Search";
            }</script>
        </div>
    </div>

    <div class="nav-mobile">
        <div class="nav-mobile-inner">
        {{navigation}}
        </div>
    </div>
</nav>