<div class="post-list__pagination" role="navigation">
    <span class="page-number">Страница {{page}} из {{pages}}</span>
    <div>
    {{#if prev}}
        <a class="newer-posts" href="{{page_url prev}}">&larr; To recent posts</a>
    {{/if}}
    {{#if next}}
        <a class="older-posts" href="{{page_url next}}">To previous posts &rarr;</a>
    {{/if}}
    </div>
</div>