<nav class="pagination" role="pagination">
  <span class="page-number">Page {{page}} of {{pages}}</span>
  <ul>
    {{#if prev}}
      <li class="prev"><a href="{{page_url prev}}">To rescent posts</a></li>
    {{/if}}
    {{#if next}}
      <li class="next"><a href="{{page_url next}}">To previous posts</a></li>
    {{/if}}
  </ul>
</nav>
