<aside class="sidebar">

  {{#is "post"}}
    <section class="widget">
      <p>Поделиться</p>
      <div class="addthis_inline_share_toolbox"></div>
    </section>
  {{/is}}

  {{> widget-recent-posts}}
  
<!-- MailerLite Universal -->
<div class="ml-form-embed"
  data-account="1421240:f2s5e2n7m7"
  data-form="1229148:y5g1a0">
</div>
<!-- End MailerLite Universal -->


<!-- Paid banner -->
<!-- <script type="text/javascript" src="https://trafz.ru/banner.php?size=250x250&dp=dokuchaev"></script> -->

<!--Telegram Widget-->
<iframe id="tgw_5d273ad583ba888b628b456a" frameborder="0" scrolling="no" horizontalscrolling="no" verticalscrolling="no" width="100%" height="540px" async></iframe><script>document.addEventListener("DOMContentLoaded",function(){document.getElementById("tgw_5d273ad583ba888b628b456a").setAttribute("src","https://tgwidget.com/channel/v2.0/?id=5d273ad583ba888b628b456a")})</script>
  
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- Adaptive -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6070814285497936"
     data-ad-slot="3487354804"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

  {{> widget-tag-cloud}}

</aside>
