{{!-- Social Media Links --}}
<div class="social flex">
  {{!-- Twitter --}}
  <a class="social__item"
     href="{{twitter_url}}" target="_blank" title="Twitter"
     aria-label="Twitter" rel="noreferrer">
    {{>icon-p name="twitter-x" size="sm"}}
  </a>
  {{!-- Linkedin --}}
  <a class="social__item"
     href="https://linkedin.com" target="_blank" title="Linkedin"
     aria-label="Linkedin" rel="noreferrer">
    {{>icon name="linkedin" size="sm"}}
  </a>
  {{!-- Github --}}
  <a class="social__item"
     href="https://github.com" target="_blank" title="Github"
     aria-label="Github" rel="noreferrer">
    {{>icon name="github" size="sm"}}
  </a>
  {{!-- RSS --}}
  <a class="social__item"
     href="/rss" target="_blank" title="RSS"
     aria-label="RSS" rel="noreferrer">
    {{>icon name="rss" size="sm"}}
  </a>
</div>
